.btnAdmin{
    width: 8rem;
    height: 3rem;
    background-color: #11edd5; 
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    border: #11edd5 solid 2px;
    text-align: center;
    margin-top: 0.5rem;
    font-weight: bold;
    padding: 0.1rem;
    transition: 0.3s;
    margin: 2rem;
    margin-top: 0;
}

.btnAdmin:hover{
    background-color: rgba(255, 255, 255, 0);
    border: #fff solid 2px;
    padding: 0.1rem;
    color: #fff !important;
    transition: 0.3s;
}

.about-us{
    margin-top: 10%;
}


.card-user-admin{
    width: 250px;
    min-height: 400px;
    background-color: rgba(0, 0, 0, 0.133);
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(204, 204, 206, 0.249);
    color: white;
}

.card-user-admin-text{
    
    color: white;
}

.card-user-admin-img{
    width: 70%;
    position: relative;
    margin-bottom: 10px;
}

.user-admin-img{
    border-radius: 10px;
    width: 100%;
    padding-top: 10px;
}
.card-user-admin-icon{
    background-color: white;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
}


.card-user-admin-fields{
    width: 90%;
    height: 40px;
    position: relative;
}

.card-user-admin-delete{
    border:none;
    padding: 5px;
}
.input-icon{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
}

.margin-250{
    margin-top: 150px;
}

.container-admin{
    width: 90%;
    margin-left: 100px;
    min-height: 100vh;
    color: white;
}

.main-admin{
   width: 90%;
   margin: auto;
   margin-top: 5vh;
   border: 1px solid white;
}

.container-card-admin{
    display: flex;
    flex-wrap: wrap;
}

.title-admin-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-users-r{
    margin-left: 2rem;
}