.profile-title{
    margin-top: 2rem;
    color: rgba(255, 255, 255, 0.952);
    font-size: 1.5rem;
    font-weight: bold;
}

/*----------CARD EDIT PROFILE----------*/

/*CONTAINER EDIT*/
.info-profile{
    width: 50vw;
    padding: 2rem;
    background-color: rgba(128, 128, 128, 0.226);
    margin-top: 1rem;
    border-radius: 2rem;
    
}
.cont-edit-profile{
    display: flex;
    color: rgba(255, 255, 255, 0.952);
}
.profile-info{
    margin-left: 1.5rem;
    
}
.profile-img-div{
    width: 40%;
    display: flex;
    margin-right: 2rem;
    align-self: center;
}
/*IMAGE*/
.edit-img{
    align-self: flex-start !important;
    margin-left: .6rem;
}
.profile-img{
    width: 100%;
    height: 10rem;
    border-radius: 1rem;
    object-fit: cover;
}
/*EDIT*/
.edit-data-profile{
    display: flex;
    justify-content: space-between;
    margin-bottom: .8rem;
}
.cont-form{
    display: flex;
}
.nameandcountry{
    font-size: 1rem;
    margin-bottom: 0 !important;
    font-weight: normal !important;
    align-self: center ;
}
.data-edit{
    font-size: 1rem;
    font-weight: lighter;
    margin: 0;
    align-self: center;
    padding: .5rem;
}
/*INPUT EDIT*/
.cont-input-edit{
    display: flex;
    justify-content: space-between;
}
.input-width-send{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.input-edit{
    width: 90%;
    border-radius: 1rem;
    padding-left: .8rem;
    background-color: rgba(240, 248, 255, 0);
    border: #fff 2px solid;
    color: #fff;
}
.input-edit:focus{
    outline: none ;
}
/*ICON*/
.icon-edit{
    font-size: 1.2rem !important;
    align-self: center;
    cursor: pointer;
}
.icon-edit:hover{
    color: #11edd3 !important;
}
.send-icon{
    font-size: 1rem;
    align-self: center;
    cursor: pointer;
}
.send-icon:hover{
    color: #11edd3 !important;
}
.cancel-icon{
    align-self: center;
    cursor: pointer;
}
.cancel-icon>path{
    color: #af3181 !important;
}
.cancel-icon:hover{
    font-size: 1.8rem;
}

/*----------LIST FAVORITE----------*/

.fav-div{
    margin-top: 3rem;
}
.fav-title{
    color: rgba(255, 255, 255, 0.952);
}
.favorites{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
    padding: 3rem;
    border-radius: 2rem;
    background-color: rgba(128, 128, 128, 0.144);
}
.e-card-image-game{
    background: url('https://images.unsplash.com/photo-1535738434100-112fb21aa536?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y291cGxlJTIwdHJhdmVsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.card-game-fav{
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20vw;
    height: 45vh;
    margin: auto;
    border-color: rgba(250, 248, 248, 0.219) solid ;
    border-radius: 1rem;
    box-shadow: 5px 6px 6px rgba(0, 0, 0, 0.534);
}
.e-card-content{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    margin-left: .5rem;
}
.title-card-fav{
    font-family: 'Poppins', sans-serif;
    color:#fff;
    text-align: center;
    padding: .5rem;
    background-color: #af31819d;
    backdrop-filter: blur(13.743px);
    border-radius: 1rem 1rem 0 0;
}
