body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
*{
    font-family: 'Poppins', sans-serif ;
}
.App {
    background-image: url("./assets/Desktop3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
::-webkit-scrollbar {
    width: 10px;
    background: #343744;
}
::-webkit-scrollbar-thumb {
    background: rgba(235, 231, 231, 0.801);
    border-radius: 5px;
}

/*ALERT*/

.swal2-confirm{
    background-color: #11edd5 !important;
    color: #343744 !important;
    border-radius: 1rem !important;
    border: #11edd5 solid 2px !important;
}
.swal2-deny{
    background-color:#af3181 !important;
    border: #af3181 solid 2px !important;
    border-radius: 1rem !important;
}
.swal2-icon-content{
    color: #af3181 !important;
}
.swal2-cancel, .swal2-modal, .swal2-popup{
    border-radius: 1rem !important;
}
.swal2-cancel{
    border: #6E7881 solid 2px !important;
}
.swal2-popup{
    background-color: #343744 !important;
    color: #fff !important
}
.swal2-info{
    color: #fff !important;
}
.swal2-confirm:hover, .swal2-deny:hover, .swal2-cancel:hover{
    background-color: #11edd300 !important;
    border: #fff solid 2px !important;
    color: #fff !important;

}

/*NAV*/

.icon-logo {
    width: 3.5rem;
    height: auto;
}
.icon {
    color: #fff !important;
    margin-left: 0.4rem;
}
.cont-icons {
    height: 1800px;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
}
.MuiPaper-root {
    background-color: #dbdbdf21 !important;
    backdrop-filter: blur(13.743px);
}
.MuiButtonBase-root {
    justify-content: flex-start !important;
}
.MuiSvgIcon-root {
    color: #fff !important;
}
.nav-img{
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%; 
    align-self: center;
    object-fit: cover;
    margin: 0 !important;
}
.icon-image{
    padding-left: 0.4rem !important;
}

/*BUTTONS*/

.btn-icon {
    font-size: 1.1rem !important;
    margin-left: 0.4rem;
    color: #373a42 !important;
    transition: 0.3s;
}
.btn-add-cart {
    width: 100%;
    border-radius: 1rem;
    background-color: #11edd5;
    border: #11edd5 solid 2px;
    text-align: center;
    margin-top: 0.5rem;
    color: #373a42;
    font-weight: bold;
    padding: 0.1rem;
    transition: 0.3s;
}
.btn-add-cart:hover {
    background-color: rgba(255, 255, 255, 0);
    border: #fff solid 2px;
    padding: 0.1rem;
    color: #fff !important;
    transition: 0.3s;
}
.btn-add-cart:hover > .btn-icon {
    color: #fff !important;
    transition: 0.3s;
}
.btn-add-cart > .btn-icon {
    transition: 0.3s;
}

/*CARDS*/

.card {
    border: none !important;
    border-radius: 5rem !important;
    background: none !important;
}
.card-img {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 2px rgba(145, 144, 144, 0.377);
    width: 80vw;
    min-height: 25vh;
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem !important;
}
.cont-card-title{
    background: rgba(129, 129, 129, 0.43);
    backdrop-filter: blur(4px);
    width: 100%;
    padding: 0.5rem;
    border-radius: 0 0 1rem 1rem;
    display: flex;
    justify-content: space-between;
}
.card-title {
    margin: 0 !important;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-start;

}
.name-game{
    padding: .5rem;
    font-size: 1rem;
    font-weight: normal;
    color:#fff;
    text-decoration: none !important;
    cursor: pointer;
}
.name-price{
    padding: 0 !important;
}
.name-game:hover{
    color: #11edd5 !important;
}
.favorite {
    color: #af3181 !important;
}
.cont-btn-cart{
    align-self: flex-end;
    transition: .3s;
    text-decoration: none !important;
    border: none;
    background-color: transparent;
}
.btn-cart{
    background-color: #1b1b1b4f;
    border: #fff solid 1.8px;
    color: #fff !important;
    border-radius: 50%;
    padding: .18rem;
    box-shadow: 1px 1px 1px 1px rgba(90, 90, 90, 0.815) !important; 
    font-size: 2.2rem !important ;
    transition: .3s;

}
.btn-cart:hover{
    background-color: #11edd5;
    border: #11edd5 solid 1.8px;
    color: #343744 !important;
    transition: .3s;
}

/*HOME*/

.header {
    display: flex;
    justify-content: center;
    align-content: center;
}
.logo-home {
    width: 8vw;
    align-self: center;
}
.title {
    color: #fff;
    font-weight: normal !important;
}
.games {
    width: 70%;
    display: flex;
    margin-top: 5vh;
    justify-content: space-between;
    flex-wrap: wrap !important;
}
.nav-icons {
    color: #fff !important;
}
.MuiButtonBase-root {
    color: #fff !important;
}
.cont-search {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
}
.search {
    min-height: 5vh;
    min-width: 40vw;
    padding: 0.3rem;
    padding-left: 0.8rem;
    background-color: #dbdbdf2c;
    border: none !important;
    box-sizing: border-box;
    border-radius: 2rem;
    color: #fff;
    align-self: center;
}
::placeholder {
    color: rgb(206, 205, 205);
    font-weight: normal;
}
.search:focus {
    outline: none;
}
.btn-search {
    font-weight: normal;
    border: #11edd5 solid 2px;
    background-color: #11edd5;
    min-height: 5vh;
    min-width: 6vw;
    border-radius: 1rem;
    align-self: center;
    margin-left: 0.5rem;
    color: #373a42;
    transition: 0.3s;
}
.btn-search:hover {
    background-color: rgba(255, 255, 255, 0);
    border: #fff solid 2px;
    padding: 0.1rem;
    color: #fff;
    transition: 0.3s;
}
.box-recommended {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
    width: 100%;
}
.box-recommended > :first-child {
    grid-row: 1/3;
}
.box-offers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.8rem;
    width: 100%;
}
.offers {
    margin-top: 2rem;
    padding-bottom: 3rem;
    min-height: 100vh;
}

/*ABOUT US*/

.cont-cont-card{
    min-height: 100vh;
}
.cont-about{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.valo{
    margin-right: 3.3rem;
    display: flex;
}
.cont-welcome {
    display: flex;
    flex-direction:row;
    align-content: center;
    justify-content: center;
    height: 26vh;
    margin-top: 2rem;
}
.welcome {
    height: 20vh;
    color: #fff;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    
}
.text-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome2 {
    color: #fff;
    font-weight: bold !important;
}
.welcome3{
    color: #fff;
    font-weight: normal !important;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.815); 
    margin-bottom: 1rem !important;
}
.welcome4{
    color: #fff;
    font-weight: lighter !important;
}
.logo-welcome {
    height: auto;
    width: 25%;
    align-self: center;
    padding: 2rem;
}
.subtitle {
    font-weight: 300 !important;
}
.call-to-action {
    width: 100%;
    display: flex;
    cursor: pointer;
    justify-content: center;
    padding: 1rem;
    text-decoration: none !important;
}
.call-to-action:hover>.visit-store{
    margin-right: 1rem;
    transition: .3s;
}
.visit-store, .arrow-icon{
    color: #11edd5 !important;
    margin-bottom: 0 !important;
    align-self: center;
    transition: .3s;
}
.access-game{
    border-radius: 2rem;
    padding: 1rem;
    text-align: center ;
    width: 40vw !important;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 20rem;
}
.go-down{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
}
.icondown{
    display: flex;
    flex-direction: column;
    margin-top: -10rem;
}
.cont-down{
    height: auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.cont-down:hover>.color-hover{
    color: #11edd5 !important;
}

.more-i{
    text-align: center;
    align-self: center;
    margin: 0 !important;
    color: #fff;
}
.icon-arrow{
    align-self: center;
    color: #fff !important;
}

/*CARDS ABOUT US*/

.cont-characteristics{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 15vh 0;
}
.card-about{
    width: 20vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    transition: .3s;
}
.icon-card-about{
    align-self: center;
    background-color: #373a428f;
    backdrop-filter: blur(4px);
    border-radius: 50%;
    padding: 1rem;
    transition: .3s;
}
.icon-card-about>svg{
    font-size: 2rem;
}
.title-about, .text-about{
    color: #fff;
    text-align: center;
    padding: .8rem;
    margin: 0;
}
.text-about{
    padding-top: 0;
    font-weight: lighter;
}
.card-about:hover>.icon-card-about{
    background-color: #11edd3;
    backdrop-filter: blur(4px);
    transition: .3s;
}
.card-about>.icon-card-about>svg{
    transition: .3s;
}
.card-about:hover>.icon-card-about>svg{
    color: #343744 !important;
    transition: .3s;
}
.cont-card-about{
    display: flex;
    justify-content: center;
    min-height: 60vh;
}
.text-characteristics{
    min-width: 30%;
    text-align: center;
}

/*GAMES*/

.cont-search-g,.cont-select-genders,.cont-range{
    padding: 0 .4rem .4rem .4rem;
}
.fieldset{
    margin: .4rem !important;
}
.PrivateSwitchBase-input{
    display: none !important;
}
.box-games{
    min-height: 60vh;
    padding-bottom: 2rem;
}
.all-games {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 2.5rem 1rem;
    width: 100%;
}
.list-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}
.description-list-game{
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter !important;
    max-height: 41vh;
    overflow-y: scroll;
    padding-right: 1rem;
}
.description-list-game::-webkit-scrollbar{
    background-color: rgba(255, 255, 255, 0);
}
.logo-game {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.title-games {
    color: #fff;
    align-self: center;
    width: 100%;
    text-align: center;
}
.cont-search-g{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.cont-search-game {
    display: flex;
    justify-content: start;
    align-content: center;
    align-self: center;
    width: 100%;
}
.cont-filter {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #dbdbdf21;
    backdrop-filter: blur(13.743px);
    border-radius: 1.5rem;
    margin-bottom: 2rem;
    padding: 1rem;

}
.cont-select-genders{
    width: 15%;
    display: flex;
    flex-direction: column;
}
.search-game,
.select-genders {
    background-color: #dbdbdf00 !important;
    color: #fff;
    border: #fff solid 1px;
    width: 100%;
    height: 5vh;
    border-radius: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    align-self: center;
}
.search-game {
    width: 100%;
}
.select-genders {
    appearance: 1rem;
    color: #CDCCCC;
}
.select-genders:focus,
.search-game:focus {
    outline: none;
}
.color-select {
    background-color: #343744;
}
.cont-filter-games {
    display: flex;
}
.char-bg{
    display: flex;
    justify-content: center;
    margin-bottom: -2rem;
}
.charimg{
    height: 17rem;
}
.filter-games {
    color: rgb(150, 149, 149);
    font-size: 1.5rem;
    font-weight: normal;
    padding-top: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
}
.filter-games-active{
    text-decoration: underline;
    color: #fff;
    font-size: 1.5rem;
    font-weight: normal;
    padding-top: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
}
.filter-games:hover {
    text-decoration: underline;
}
.card-game {
    height: 600vh;
}
.views {
    align-self: flex-start;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.list-icon-w {
    font-size: 2rem !important;
    align-self: center;
    margin-left: 1rem;
    cursor: pointer;
    color: rgb(150, 149, 149) !important;
}
.list-icon-r {
    font-size: 2rem !important;
    align-self: center;
    margin-left: 1rem;
    cursor: pointer;
    color: #fff !important;
}
.view-icon-w {
    color:rgb(150, 149, 149) !important;
    align-self: center;
    cursor: pointer;
}
.view-icon-r {
    color:#fff !important;
    align-self: center;
    cursor: pointer;
}
.active {
    background-color: #af3181b0 !important;
}
.price-game{
    margin: 0 !important;
}
.card-img-precio{
    height: 40vh !important;
}
.title-label{
    color: #fff;
    margin-bottom: .5rem;
}
.cont-range{
    width: 15%;
}
.range{
    display: flex;
    height: 5vh;
    align-self: center;

    justify-content: center;
}
.input-renge{
    background-color: rgba(255, 255, 255, 0);
    border: 1.5px #fff solid;
    border-radius: 1rem;
    width: 100%;
    padding: .5rem;
    color: #fff;
}
.input-renge:focus{
    outline: none !important;
}
.sort{
    color: #fff !important;
    margin: 0 !important;
}
.option-radio{
    color: #fff !important;
    height: 7vh !important;
}
.rigth{
    margin-right: .5rem;
}


/*-----------MEDIA QUERY-----------*/

@media (max-width: 1435px){
    .home-cont{
        margin-left: 5vw !important;
    }
}
@media (max-width: 1173px){
    .cont-range{
        width: auto !important;
    }
    .cont-select-genders{
        width: auto !important;
    }
}
@media (max-width: 1080px){
    .cont-cont-card{
        margin-left: 5vw;
        height: 100%;
    }
    .cont-all-page-games{
        margin-left: 5rem !important;
    }
}
@media (max-width: 985px){
    .card-about{
        min-width: 30vw;
    }
    .access-game{
        min-width:60vw !important ;
    }
}
@media (max-width: 900px){
    .cont-welcome {
        display: flex;
        flex-direction:column-reverse;
    }
    .photo-valo{
        max-height: 100vh;
    }
    
}
@media (max-width: 840px){
    .home-cont{
        margin-left: 8vw !important;
    }
}
@media (max-width: 780px){
    .welcome2{
        font-size: 2rem !important;
    }
    .subtitle{
        width: 50vw;
        font-size: 1.2rem !important;
        text-align: center;
        flex-wrap: wrap !important;
    }
    .filter-games{
        font-size: 1rem !important;
    }
    .filter-games-active{
        font-size: 1.2rem !important;
    }
    .text-about{
        font-size: 1rem;
    }
    .all-games {
        grid-template-columns: 1fr 1fr 1fr;

    }
}
@media (max-width: 630px){
.filter-games{
    font-size: .8rem !important;
}
.filter-games-active{
    font-size: .8rem !important;
}
}
@media (max-width: 600px){
    .box-offers{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .box-recommended > :first-child {
        grid-row: 1;
        grid-column: 1/3
    }
    .access-game{
        margin-top: 10rem;
    }
    .welcome4{
        width: 50vw;
    }
    .all-games {
        grid-template-columns: 1fr 1fr;
    }
    .cont-all-page-games{
        margin-right: 2rem !important;
    }
}
@media (max-width: 600px){
    .home-cont{
        margin-left: 10vw !important;
    }
    .icon{
        margin-left: 0!important;
    }
    .icon-logo{
        width: 2.2rem;
    }
    .nav-img{
        width: 2rem;
        height: 2rem;
    }
}
@media(max-width: 560px){
    .cont-search-g{
        width: auto !important;
    }
    .photo-valo{
        width: 60vh;
    }
    .icondown{
        margin-top: 0;
    }
    .cont-card-about {
        flex-direction: column;
    }
    .card-about{
        width: 100%;
        padding: 0 1.5rem;
    }
    .logo-welcome{
        padding: 0;
    }
    .cont-filter-games{
        flex-wrap: wrap;
    }
}
@media (max-width: 480px){
    .box-offers{
        grid-template-columns: 1fr 1fr;
    }
    .box-recommended{
        grid-template-columns: 1fr 1fr;
    }
    .box-recommended > :first-child {
        grid-row: 1;
        grid-column: 1/3
    }
    .welcome4{
        width: 60vw;
        font-size: 1.2rem !important;
    }
    .welcome3{
        font-size: 2rem !important;
    }
    .all-games {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 430px){
    .home-cont{
        margin-left: 14vw !important;

    }
    .box-offers{
        grid-template-columns: 1fr;
    }
    .box-recommended{
        grid-template-columns: 1fr 1fr;
    }
    .box-recommended > :first-child {
        grid-row: 1;
        grid-column: 1/3
    }
}
@media (max-width: 416px){
    .logo-home{
        display: none;
    }
}
