body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  background: #20222B;
  backdrop-filter: blur(13.743px);
}

/*HOME*/

.title{
  color: #fff;
  font-weight: normal !important;
}
.Recommended{
  margin-top: 15vh;
}
.games{
  width: 70%;
  display: flex;
  margin-top: 5vh;
  justify-content: space-between;
  flex-wrap: wrap !important;
}
.text{
  color: #fff !important;
}
.MuiButtonBase-root{
  color: #fff !important;

}
.cont-search{
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.search{
  width: 40vw;
  padding: .3rem;
  background: rgba(240, 238, 238, 0.5);
  box-sizing: border-box;
  border-radius: 2rem;
}
.icon{
  color: #fff !important;
  font-size: 1.5rem;
}
.box-recommended{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr  ;
  gap: .5rem;
  width: 100%;
}
.box-recommended>:first-child{
  grid-row: 1/3;
}
.box-offerts{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  gap: .8rem;
  width: 100%;
}
.offerts{
  margin-top: 2rem;
}

/*CARDS*/

.card{
  border: none !important;
  border-radius: 5rem !important;
}
.card-img{
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 2px rgba(145, 144, 144, 0.377);
  width: 80vw;
  min-height: 25vh;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem !important;
}
.card-title{
  background: rgba(221, 218, 218, 0.43);
  backdrop-filter: blur(4px);
  width: 100%;
  margin: 0 !important;
  color: #fff;
  font-size: 1.5rem;
  font-weight: normal;
  padding: .5rem;
  border-radius: 0 0 1rem 1rem;
}
.MuiSvgIcon-root{
  color:#fff !important
}
.MuiPaper-root{
  background-color: #dbdbdf59 !important;
  backdrop-filter: blur(13.743px);
}
.MuiToolbar-root {
  background-color: #343744 !important;
}
.favorite{
  color: #AF3181 !important;
}

/*BUTTONS*/

.btn-add-cart{
  width: 100%;
  border-radius: 1rem;
  background-color: #2cf4b8b9;
  text-align: center;
  margin-top: .5rem;
  color: #fff;
}